* {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dino-img {
    width: 100px;
}

.projects-title {
    color: #27aa15;
    font-size: 39px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.project {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    color: #aa1f0e;
    font-size: 30px;
}

.technologies {
    font-size: 18px;
    color: #000;
}

.project-links {
    font-size: 18px;
    font-style: italic;
}

.projects {
    text-align: left;
    padding: 50px;
}

.projects li {
    list-style: none;
}